<h3 class="lightgrey rounded">
    <div class="center">
        <i>start hello.tmpl</i>
    </div>
    
    <div class="center lightblue">
        <b>Angular</b>
    </div>
    
    <div class="white padded bordered">
        <div>
            Type text:
            <input type="text" ng-model="sometext"/>
        </div>
        <h1>text: {{ sometext }}</h1>
    </div>
    
    <div class="center lightblue">
        <b>Hypertag</b>
    </div>
    
    <div class="white padded bordered">
        <div class="hypertag" template="foo"></div>
    </div>

    <div class="center">
        <i>start hello.tmpl</i>
    </div>
</h3>